html {
   background-color: #000;
   font:8pt Verdana, sans-serif;
   color:white;
}
#container {
   text-align:center;
   span {
      border:1px solid white;
      display:inline-block;   
      #display {
         background-color:#000;
         cursor:default !important;
         &:active {
            cursor:default !important;
         }
      }
   }
}

.controlContainer {
   border:1px solid #555;
   background-color:#111;
   position:fixed;
   width:160px;
   top:0;
   li {
      text-align:center;
   }
   button {
      width:95%;
      margin:2px 0;      
   }
   .controls {
      .ui-button-text {
         padding:2px 0px !important;
      }
      width:160px;
   }
   .showHideControls {
      background-color:#444;
      text-align:center;
      cursor:pointer;
      color:#ccc;
   }
}
#controlContainer1 {
   left:0;
   width:174px;
   #welcomeMessage {
      h3 {
         font-size:120%;
         margin:10px auto;
         font-weight:bold;
      }
      p {
         margin:10px 0;
      }
   }
   #shortcuts {
      span {
         cursor:pointer;color:#00f;text-decoration:underline;
      }
      div {
//         display:none;
         li {
            text-align:left;
         }
      }
   }
}
#controlContainer2 {
   right:0;
   
   #maxParticles button {
      width:15%;
      font-size:75%;
   }
   #particleStyle button {
      width:25%;
      font-size:75%;
   }
   #clickBehavior {
      text-align:center;
      margin:0 auto;
      .ui-button{
         font-size:80%;
         width:30%;
      }
   }
}

#footer {
   width:100%;
   height:50px;
   background-color:black;
   margin:1em auto;
   text-align:center;
   textarea {
      width:80%;
      height:3em;
   }
}


#floatingControls {
   border:1px solid #111;
   background-color:#002;
   display:none;
   position:absolute;
   width:150px;
   #variableControl {
   font-size:80%;
      margin:1em;
      .fieldAttract { border:1px solid #090 !important;  }
      .fieldRepel   { border:1px solid #900 !important;  }
      .slider {
         width:80%;
         margin:0 auto;
         .ui-slider-handle {
            font-size:80%;
         }
      }
   }
   button {
     width:18px;
     height:18px;
     position:absolute;
     top:0px;
   }
   #closeFloatingControls { 
      right:0px; 
   }
   #deleteObject          {
      right:25px;
   }
}

#error {
   display:none;
   position:absolute;
   top:10%;
   left:10%;
   width:80%;
   height:500px;
   background-color:black;
   z-index:1000;
   border:2px solid #ccc;
   text-align:center;
   p {
      font-size:200%;
      margin:2em;
      a {
         font-size:150%;
      }
   }
}
